[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vimrc"]
	path = vimrc
	url = git@github.com:amix/vimrc.git
[submodule "antigen"]
	path = antigen
	url = git@github.com:zsh-users/antigen.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:gpakosz/.tmux.git
